@model System.Data.DataTable

@{
	ViewBag.Title = "Admin";
	Layout = "~/Views/Admin/Layout.cshtml";
}

<h2 class="bg-light h3 mb-3 my-3 p-3 text-primary">Gestion des Prets</h2>

<!-- Gestion des Prets -->
<div class="ui-table">
	<div class="ui-row ui-row-header bg-gradient text-bg-primary">
		<div class="ui-cell"> Client </div>
		<div class="ui-cell"> Image </div>
		<div class="ui-cell"> Titre </div>
		<div class="ui-cell"> Date du Pret </div>
		<div class="ui-cell"> Retour Prevue </div>
		<div class="ui-cell"> Retour Effective </div>
		<div class="ui-cell"> Nb. Jours Retard </div>
		<div class="ui-cell"> Frais De Retard ($) </div>
		<div class="ui-cell"> Action </div>

	</div>
	@for (int i = 0; i < Model.Rows.Count; i++)
	{
		<div class="ui-row">
			<div class="ui-cell align-top" data-title="Titre">
				<!-- client -->
				@Model.Rows[i][0] @Model.Rows[i][1]
			</div>
			<div class="ui-cell" data-title="Image">
				<div class="overflow-hidden">
					<img src="/Content/livre-image/@(Model.Rows[i][3] + ".jpg")" />
				</div>
			</div>
			<div class="ui-cell align-top" data-title="Titre">
				<!-- Titre -->
				@Model.Rows[i][4]
			</div>
			<div class="ui-cell" data-title="Date du Pret">
				<!-- Date du Pret -->
				<span>@Model.Rows[i][5].ToString().Replace("12:00:00 AM", "")</span>
			</div>
			<div class="ui-cell" data-title="Date Retour Prevue">
				<!-- Retour Prevue -->
				<span>
					@Model.Rows[i][6].ToString().Replace("12:00:00 AM", "")
				</span>
			</div>
			<div class="ui-cell" data-title="Date Retour Effectif">
				<!-- Date Retour Effectif  -->
				@if (!Convert.IsDBNull(Model.Rows[i][7]))
				{
					<span class="bg-success py-1 px-2 rounded text-white">
						@Model.Rows[i][7].ToString().Replace("12:00:00 AM", "")
					</span>
				}
				else
				{ <span <span class="bg-warning py-1 px-2 rounded text-bg-warning">En Attente</span>}
				</div>
				<div class="ui-cell" data-title="# Jours Retard">
					<!-- Nbr jour retard  -->
					@if (Convert.ToInt16(@Model.Rows[i][8]) < 0)
					{
						<span>0</span>
					}
					else
					{ <span class="bg-danger py-1 px-2 rounded text-white">@Model.Rows[i][8]</span>}

				</div>
				<div class="ui-cell" data-title="Frais">
					@if (Convert.ToInt16(@Model.Rows[i][8]) > 0)
					{
						<span class="bg-danger py-1 px-2 rounded text-white">@(Convert.ToInt16(@Model.Rows[i][8]) * ViewBag.FraisRetard)</span>
					}
					else
					{ <span>0</span>}

				</div>
				<div class="ui-cell" data-title="Action">
					<a href="/Pret/Retour/@Model.Rows[i][2]" class="btn btn-sm btn-primary">
						Retour Livre
					</a>
				</div>
			</div> <!-- Fin ROW -->
		}
</div>


